<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Hasta Detay</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="detailForm">
            <h6 class="heading-small text-muted mb-4">Hasta Bilgileri</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-first-name">Hasta Adı</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.patient_firstname.errors}">
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.patient_firstname.errors}"
                           placeholder="Hasta Adı" formControlName="patient_firstname">
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-last-name">Hasta Soyadı</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.patient_lastname.errors}">
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.patient_lastname.errors}"
                           formControlName="patient_lastname"
                           placeholder="Hasta Soyadı">
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-gender">Cinsiyeti</label>
                  <div class="form-group">
                    <select id="input-gender" class="form-control form-control-alternative"
                            formControlName="patient_gender">
                      <option value="1">Kadın</option>
                      <option value="2">Erkek</option>
                      <option value="3">Belirtilmemiş</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-phone">Telefon</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.phone_number.errors}">
                    <input type="text" id="input-phone" class="form-control form-control-alternative"
                           placeholder="Telefon" [ngClass]="{'is-invalid':f.phone_number.errors}"
                           formControlName="phone_number">
                  </div>
                  <span *ngIf="submitted && f.phone_number.errors" class="form-error">

                    <div *ngIf="f.phone_number.errors.minlength || f.phone_number.errors.maxLength">
                        Telefon Numarası 10 Karakter Olmalıdır
                    </div>
                  </span>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-refcode">Referans No</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.referance_code.errors}">

                    <input type="text" id="input-refcode" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.referance_code.errors}"
                           placeholder="Referans No" formControlName="referance_code">
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-id">Kimlik No</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.patient_identification_number.errors}">

                    <input type="text" id="input-id" class="form-control form-control-alternative"
                           placeholder="Kimlik No" [ngClass]="{'is-invalid':f.patient_identification_number.errors}"
                           formControlName="patient_identification_number">
                  </div>
                  <span *ngIf="submitted && f.patient_identification_number.errors" class="form-error">

                    <div *ngIf="f.patient_identification_number.errors.minlength || f.patient_identification_number.errors.maxLength">
                        Kimlik No 11 Karakter Olmalıdır
                    </div>
                  </span>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-birthdate">Doğum Tarihi</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.patient_birth_date.errors}">

                    <input type="date" id="input-birthdate" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.patient_birth_date.errors}"
                           formControlName="patient_birth_date">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <h6 class="heading-small text-muted mb-4">Doktor Bilgileri</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-name">Doktor</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.doctor_name.errors}">

                    <input id="input-name" class="form-control form-control-alternative" formControlName="doctor_name"
                           [ngClass]="{'is-invalid':f.doctor_name.errors}"
                           type="text">
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-regcode">Sicil No</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.doctor_registration_code.errors}">

                    <input type="text" id="input-regcode" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.doctor_registration_code.errors}"
                           formControlName="doctor_registration_code">
                  </div>
                  <span *ngIf="submitted && f.doctor_registration_code.errors" class="form-error">

                    <div *ngIf="f.doctor_registration_code.errors.minlength || f.doctor_registration_code.errors.maxLength">
                        Sicil No 8 Karakter Olmalıdır
                    </div>
                  </span>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-polno">Poliklinik No</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.policlinic_code.errors}">

                    <input type="text" id="input-polno" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.policlinic_code.errors}"
                           formControlName="policlinic_code">
                  </div>
                  <span *ngIf="submitted && f.policlinic_code.errors" class="form-error">

                    <div *ngIf="f.policlinic_code.errors.minlength || f.policlinic_code.errors.maxLength">
                        Poliklinik No 4 Karakter Olmalıdır
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <hr class="my-4"/>
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Ziyaret Bilgileri</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-visit">Ziyaret Tarihi</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.visit_date.errors}">

                    <input type="datetime-local" id="input-visit" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.visit_date.errors}"
                           formControlName="visit_date">
                  </div>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label" for="input-nextvisit">Bir sonraki ziyaret
                    tarihi</label>
                  <div class="form-group" [ngClass]="{'has-danger':f.next_visit_date.errors}">

                    <input type="datetime-local" id="input-nextvisit" class="form-control form-control-alternative"
                           [ngClass]="{'is-invalid':f.next_visit_date.errors}"
                           formControlName="next_visit_date">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Doktor Notu</label>
                    <textarea rows="4" class="form-control form-control-alternative"
                              formControlName="doctor_note"
                    ></textarea>
                  </div>
                </div>

              </div>

            </div>
            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6 text-right">
                  <button type="button" class="btn btn-danger" (click)="cancel()">İptal Et</button>
                </div>
                <div class="col-lg-6">
                  <button type="button" class="btn btn-success" (click)="savePatient()">Kaydet</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #infoModal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTexts.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{modalTexts.text}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
            (click)="modalTexts.status == 'error' ? modal.close('Close click') : cancel()">Tamam
    </button>
  </div>
</ng-template>
