<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Hastalar</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Ref.No</th>
              <th scope="col">Hasta Adı</th>
              <th scope="col">Poliklinik Kodu</th>
              <th scope="col">Doktor</th>
              <th scope="col">Doktor Sicil No</th>
              <th scope="col">Ziyaret Tarihi</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input placeholder="Ref No" class="form-control" [(ngModel)]="filter.referance_code"
                         (input)="getPatients(true)">
              </td>
              <td><input placeholder="Hasta Adı" class="form-control" [(ngModel)]="filter.patient_name"
                         (input)="getPatients(true)">
              </td>
              <td><input placeholder="Poliklink Kodu" class="form-control" [(ngModel)]="filter.policlinic_code"
                         (input)="getPatients(true)"></td>
              <td><input placeholder="Doktor" class="form-control" [(ngModel)]="filter.doctor_name"
                         (input)="getPatients(true)">
              </td>
              <td><input placeholder="Doktor Sicil No" class="form-control"
                         [(ngModel)]="filter.doctor_registration_code" (input)="getPatients(true)">
              </td>
              <td>
                <input type="datetime-local" placeholder="Ziyaret Tarihi" class="form-control"
                       [(ngModel)]="filter.visit_date"
                       (input)="getPatients(true)"></td>
              <td>

              </td>
            </tr>
            <tr *ngFor="let patient of patients">
              <th scope="row">
                {{patient.referance_code}}
              </th>
              <td>
                {{patient.patient_firstname}} {{patient.patient_lastname}}
              </td>
              <td>
                {{patient.policlinic_code}}
              </td>
              <td>
                {{patient.doctor_name}}
              </td>
              <td>
                {{patient.doctor_registration_code}}
              </td>
              <td>
                {{utils.formatDateStringToDate(patient.visit_date)}}
              </td>
              <td class="text-right">
                <a class="btn btn-sm btn-icon-only text-light" (click)="getDetail(patient.id)">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4" *ngIf="metadata?.page_count > 0">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" [ngClass]="{'disabled':page==1}">
                <a class="page-link" (click)="changePage(page-1)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let _page of utils.counter(metadata?.page_count); let i = index"
                  [ngClass]="{'active':page===i+1}">
                <a class="page-link" (click)="changePage(i + 1)">{{i + 1}}</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled':page==(metadata?.page_count)}">
                <a class="page-link" (click)="changePage(page+1)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
